<div class="col-xs-8 col-xs-offset-2 new_song">
<h2 class="text-center">Add a New Song</h2>

<%= form_for [:artist, @song] do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.button :submit %>

<% end %>


</div>

<div class="container-fluid buttons_row">
  <div class="col-xs-12">
    <div class="text-center">
      <%= link_to root_path do %>
        <i class="fa fa-home fa-3x" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
